@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

.App {
  font-family: 'Source Sans Pro', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  margin-top: -2vmin;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input {
  margin-top: 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#convertbutton {
  margin-top: 2vmin;
}

.toleft {
  margin-left: auto;
  margin-right: auto;
}

.App::-webkit-scrollbar {
  display: none;
}

.App {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.input-box {
  height: calc(10px + 50vmin);
  width: calc(10px + 80vmin);
  margin: calc(10px + 8vmin);
  margin-top: 0vmin;
}

textarea {
  resize: none;
  font-size: 2vmin;
  font-family: 'Source Sans Pro', sans-serif;

}

.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: rgb(138, 137, 137);
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #707070;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #757575;
}

.button-48 span {
  z-index: 1;
  position: relative;
}

.loading {
  align-items: center;
  width: 12vmin;
  height: 12vmin;
  margin-top: 20vmin;
}

.main-flag {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(41, 145, 136);
  border-radius: 1px;
  border: 1px solid white;
}

header h1 {
  margin-left: 4vmin;
  margin-top: 5vmin;
}

@media (max-width:991px)
{
  .main-flag {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  
.loading {
  width: 12vmin;
  height: 12vmin;
  position: fixed;
  margin-left: 44%;
}

  
}




